/* 
INFO
----
- This is a total remake for my CSS for this site.
	- Why?
		- My flex layout and my disorganization made it essentially impossible to build off of what i had.
	- How?
		- We are switching to grid layout, and we are making more flexible styling 
				- what do i mean by flexible?
					- There will be clearer parent style classes for elements. 
					- Styling will be more organized and modular. 
					- Elements will have a styling defined by me (default) and then i can change it. Like inheritance.
					- We will be implementing variables for easy reusability.
*/



/* ROOT STYLE DEFINITIONS */
/* Some base declarations. */
:root {
    --primary-color: #004d00;
    --secondary-color: #06401d;
    --accent-color: #c20003;
    --light-gray: #f4f4f4;
    --dark-gray: #666b67;
    --white: #ffffff;
    --font-family: 'Arial, sans-serif';
    --heading-font-family: 'Montserrat, sans-serif';
    --base-font-size: 16px;
    --button-font-size: 16px;
}

/*  Defining global styling (for consistency).  */
* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}












































