@media (max-width: 480px) {

html, body {
	height: 100%;
	overflow: auto;
}	

body {
	min-height: 100vh;
}

#content {
		flex-direction: column;
		align-items: center;
		width: 95%;
		padding: 20px;
		overflow: auto;
}

main {
	height: auto;
	width: 100%;
	overflow: auto;
	align-items: flex-start;

}



	.header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-content h1 {
        font-size: 24px;
    }

    .main-header {
        padding: 15px 0;
    }

    .dashboard {
        padding: 5px;
    }

    .synopsis, .graphic {
        margin: 5px 0;
        padding: 5px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        margin: 0 5px;
    }

    /* Login page styling */
    .forms-container {
		display: flex;
        flex-direction: column;
        align-items: center;
		width: 100%;
		margin-top: 20px;	
    }

    .login-container,
    .signup-container {
        width: 90%;
        margin: 10px 0;
		box-sizing: border-box;	
    }

	.or-container {
		margin-top: 30px;

	}	
}


