
SetEnv wsgi_max_requests 10
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

<Files *>
  Options -Indexes
  AuthType CAS
  require user rerickso ajblock rerickso  kmclevel
  satisfy any
  order allow,deny
</Files>
